@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**
 rgb(255, 77, 0, 0.7),
    rgb(235, 103, 2),
    rgb(0, 121, 250),
    rgb(19, 6, 140, 0.8)
***/
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgb(255, 77, 0) 20%,
    rgb(235, 103, 2) 30%,
    rgb(0, 121, 250) 80%,
    rgb(19, 6, 140) 500%
  );
  z-index: 0;
}

.newsletter-card {
  width: 50%;
  height: auto;
  padding: 1rem;
  background: #fff;
  border: none;
  border-radius: 10px;
  z-index: 2;
}
.newsletter-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.newsletter-text h1 {
  margin-bottom: 1.4rem;
  background-image: linear-gradient(
    to right,
    rgb(255, 77, 0) 20%,
    rgb(235, 103, 2) 30%,
    rgb(0, 121, 250) 80%,
    rgb(19, 6, 140) 500%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.newsletter-text span {
  font-weight: 700;
}

.newsletter-text > p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

/******* FORMULAR STYLE*********/

.newsletter-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.7rem;
  width: 100%;
}

.newsletter-input + p {
  text-align: center;
  margin-top: 1.6rem;
  opacity: 0.5;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.4rem;
}

form input {
  width: 400px;
  height: 35px;
  border: solid 1px #808080c3;
  padding: 1rem;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}
input:focus {
  outline: none;
  border: none;
  border-bottom: solid 2px rgb(255, 77, 0);
}

form button {
  width: 150px;
  height: 35px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  text-align: center;
  font-weight: 700;
  background: rgb(255, 77, 0);
  color: #ffff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
button:hover {
  background: rgba(255, 77, 0, 0.708);
}

/******** RESPONSIVE*************/
@media screen and (max-width: 768px) {
  .newsletter-card {
    width: 80%;
    padding: 1.5rem;
  }
  form input {
    width: 300px;
  }
}

@media screen and (max-width: 578px) {
  .newsletter-card {
    width: 90%;
    padding: 1.5rem;
  }
  form input {
    width: 250px;
  }
  form button {
    width: 110px;
  }

  .newsletter-head {
    display: block;
    justify-content: center;
    text-align: center;
  }
}
